.App {
  text-align: center;
  background-color: #0E2954;
  /*background: linear-gradient(to right, #0E2954, #0E2954) left top / 50% 100%, #ffffff;*/
  color: white;
}

/*.circle {
  width: 100px;
  height: 100px;
  background-color: #E8A9A9;
  border-radius: 50% / 25%;
  transform: rotate(45deg);
  margin: 80px;
  filter: blur(2px);
}*/